---
import HeaderLink from './HeaderLink.astro';

import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import { SITE_TITLE } from '../consts';
import { Icon } from 'astro-icon/components'
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<Hamburger />
        <Navigation />
		<div class="social-links">
			<a href="https://www.facebook.com/crotunno92" target="_blank">
				<span class="sr-only">Follow me on Facebook</span>
				<Icon name="fb" />
			</a>
			<a href="https://twitter.com/ChrisRotunno" target="_blank">
				<span class="sr-only">Follow me on Twitter</span>
				<Icon name="twitterx" />
			</a>
			<a href="https://www.youtube.com/@root-labs" target="_blank">
				<span class="sr-only">Follow me on YouTube</span>
				<Icon name="yt" />
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: center; /* Centers the items horizontally */
    gap: 10px; /* Optional: adds space between the links */
}

.social-links a {
    display: flex;
    align-items: center; /* Ensures SVG within the link is also centered */
}

.social-links svg {
    width: auto; /* Adjusts width based on the height to maintain aspect ratio */
    height: 24px; /* Example height, adjust as needed */
}

@media (max-width: 720px) {
    .social-links {
        display: none; /* Hides social links on smaller screens */
    }
}
</style>
